<!DOCTYPE html>
<html class="text-black bg-white dark:text-white dark:bg-black">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/global.css" />
  <title>{{ config.title }}</title>
  <meta name="description" content="{{ config.description }}">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1">
  <meta property="og:title" content="{{ config.title }}">
  <meta property="og:description" content="{{ config.description }}">
  <meta property="og:url" content="{{ config.base_url }}">
  <meta property="og:site_name" content="{{ config.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
</head>

<body class="antialiased max-w-xl mx-4 mt-8 lg:mx-auto">
  <main class="flex-auto min-w-0 mt-6 flex flex-col px-2 md:px-0">
    {% include "components/nav.html" %}
    {% block content %} {% endblock %}
    {% include "components/footer.html" %}
  </main>
</body>

</html>